body{
    margin: 0;
}
#menu{
    background-color: #C7DDF250;
    margin: 0;
}
.menu-item-block{
    display: flex;
    position: relative;
    width: 40vw;
    height: 40vw;
    margin-top: 10vw;
    align-items:flex-start;
    
    margin: 2vw;
    flex-flow: row;
    background-color: #c7ddf200;
}
.right{
    left: 5%;
}
.left{
    left:3%;
}
.menu-item{
    position: absolute;
    display: flex;
    top:8%;
    width: 100%;
    height: 30vw;
    margin-top: 10vw;
    align-items:flex-start;
    margin: 1vw;
    flex-flow: column;
    background-color: #4668C1;
    top:20;
    padding: 0;
    padding-top: 15%;
}
.menu-item div{
    width: 100%;
}

#menu{
    display: flex;
    
    flex-flow: wrap;
}
.menu-image{
    position: absolute;
    left: 10%;
    top: 10%;
    width: 18vw;
    height:18vw;
    border-radius: 50%;
}
.image-container{
    border-radius: 50%;
    position: absolute;
    top:20%;
    left: 50%;
  transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 22vw;
    height:22vw;
    border-radius: 50%;
}